<!-- Generate icon by yourself https://icomoon.io/app/#/select -->
<!--知乎-->
{% if site.zhihu %}
<a href="https://www.zhihu.com/people/{{ site.zhihu }}/posts" class="sidebar-social-icon zhihu" target="_blank"></a>
{% endif %}

{% if site.twitter %}
  <a href="https://twitter.com/{{ site.twitter }}" class="sidebar-social-icon twitter" target="_blank"></a>
{% endif %}

{% if site.weibo %}
  <a href="https://www.weibo.com/{{ site.weibo }}" class="sidebar-social-icon weibo" target="_blank"></a>
{% endif %}

{% if site.github %}
  <a href="https://github.com/{{ site.github }}" class="sidebar-social-icon github" target="_blank"></a>
{% endif %}
