---
layout: default
---
<article class="post container">
  <div class="post-meta">
    {% if page.create_time %}
    <span class="post-meta-span create_time">创建时间：{{ page.create_time | date: "%Y.%m.%d" }}</span>
    {% endif %}
    {% if page.update_time %}
    <span class="post-meta-span update_time">更新时间：{{ page.update_time | date: "%Y.%m.%d" }}</span>
    {% endif %}
    {% if page.tags.size > 0 %}
    <span class="post-meta-span tag">{{ page.tags | join: ', ' }}</span>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  {{ content }}
</article>

<div class="post-share">
  <div class="container">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.baseurl | prepend: site.url }}&display=popup" target="_blank" ><img src="/imgs/post_share/facebook.svg" ></a>
    <a href="https://twitter.com/share?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&text={{ page.title }}" target="_blank" ><img src="/imgs/post_share/twitter.svg" ></a>
    <a href="https://connect.qq.com/widget/shareqq/index.html?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&title={{ page.title }}" target="_blank" ><img src="/imgs/post_share/qq.svg" ></a>
    <a href="http://service.weibo.com/share/share.php?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&title={{ page.title }}" target="_blank" ><img src="/imgs/post_share/sinaweibo.svg" ></a>
    <a href="/wechat_share.html?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&title={{ page.title }}" target="_blank" ><img src="/imgs/post_share/wechat.svg" ></a>
    <a href="https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&title={{ page.title }}&summary=&pics=" target="_blank"><img src="/imgs/post_share/qzone.svg" ></a>
  </div>
</div>

{% if site.disqus.shortname %}
<div class="comment container">
  <div id="disqus_thread">
  </div>
</div>
{% endif %}
